body{
    background-color: #5e3df2;
    text-align: center;
    font-family: monospace;
}
.h1{
    color: #c8e3d5;
    
}
.alarmpic{
width: 250;
height: 400;
}
.cap{
    text-align: center;
    color: sandybrown;
    font-style: sans-serif;
}